.bodyNavegacionAdmin {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #96b3ff;
    border-radius: 0 20px 20px 0;
    transition: 2s;
}

.bodyNavegacionAdmin.active {
    width: 45px;
    background: none;
}

.bodyNavegacionAdmin .conBtnToggle,
.bodyNavegacionAdmin .contRutas,
.bodyNavegacionAdmin .contBtnSignOff {
    width: 100%;
    padding: 10px;
    transition: 2s;
}

.bodyNavegacionAdmin .conBtnToggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bodyNavegacionAdmin .conBtnToggle button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyNavegacionAdmin .conBtnToggle button ion-icon {
    font-size: 25px;
} 

.bodyNavegacionAdmin .contRutas ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bodyNavegacionAdmin .contRutas ul li {
    width: 100%;
    height: 35px;
    margin: 5px 0;
}

.bodyNavegacionAdmin .contRutas ul li .link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bodyNavegacionAdmin .contRutas ul li .link .icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 3s;
}

.bodyNavegacionAdmin .contRutas ul li .link:hover .icon {
    background: #00ffff;
}

.bodyNavegacionAdmin .contRutas ul li .link .icon ion-icon {
    font-size: 25px;
    color: black;
}

.bodyNavegacionAdmin .contRutas ul li .link .text {
    width: calc(100% - 40px);
    height: 100%;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;
    transition: 2s;
    overflow: hidden;
}

.bodyNavegacionAdmin .contRutas ul li .link:hover .text {
    background: #8bffff;
}

.bodyNavegacionAdmin .contBtnSignOff{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bodyNavegacionAdmin .contBtnSignOff button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    background: none;
    transition: 2s;
}

.bodyNavegacionAdmin .contBtnSignOff button .icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
}

.bodyNavegacionAdmin .contBtnSignOff button .icon ion-icon{
    font-size: 20px;
}

.bodyNavegacionAdmin .contBtnSignOff button span{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 2s;
    overflow: hidden;
}

.bodyNavegacionAdmin.active .conBtnToggle,
.bodyNavegacionAdmin.active .contRutas,
.bodyNavegacionAdmin.active .contBtnSignOff {
    padding: 10px 0px;
    justify-content: center;
}

.bodyNavegacionAdmin .conBtnToggle button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.747);
}

.bodyNavegacionAdmin.active .contRutas {
    padding: 10px 0;
    background: #96b3ff;
    border-radius: 50px;
    margin-left: 10px;
    width: 38px;
}

.bodyNavegacionAdmin.active .contRutas ul {
    padding: 0;
}

.bodyNavegacionAdmin.active .contRutas ul li .link .icon {
    /*background: none;*/
    transition: 1s;
}

.bodyNavegacionAdmin.active .contRutas ul li .link {
    justify-content: center;
}

.bodyNavegacionAdmin.active .contRutas ul li .link .text {
    display: none;
    transition: 3s;
}

.bodyNavegacionAdmin.active .contBtnSignOff button {
    padding: 0;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.747);
}

.bodyNavegacionAdmin.active .contBtnSignOff button .icon {
    background: none;
}

.bodyNavegacionAdmin.active .contBtnSignOff button span {
    display: none;
}
