# .env.dist
DB_DATABASE=d62n48u667qme
DB_USERNAME=cuskjmhngaikkc
DB_PASSWORD=7ab072f2f50f73e5d22d4b27c69a1a0e923f36e331232aec891157a8497b4bcc
DB_HOST=ec2-54-147-33-38.compute-1.amazonaws.com
DB_DIALECT=postgres


clave=sucursalud-proyect-diu-2022-fourJ