footer{
    width: 100%;
    height: 150px;
    /*Asegurando que el footer siempre este en la parte de abajo*/
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*Generando una cuadricula 2 fracciones*/
    align-items: center;
    font-size: 14px;
    background-color: #272626;
    border-top: 1px solid #272626;
}

footer ul{
    margin: 20px;
    list-style: none;
    display:table-footer-group;/*Organiza los elementos de manera horizontal*/
    padding-left: 0;
}


/*Poner los elementos de la cuadricula izquierda bien a la izquierda.*/
footer .footer-left{
    justify-self: left;

}

footer .footer-center{
    justify-self: center;
}

/*Poner los elementos de la cuadricula derecha bien a la derecha.*/
footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 15px;
    color: #ffffff;
    font-size: 20px;
}