*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bodyP {
    margin: 0;
   
    background: rgb(231, 221, 221);
              
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

.container{
  display: flex;
         align-items: center;
         justify-content:space-around;
         
         padding: 0px 160px;
}

  .card{
    
    width: 250px;
    height: 330px;
    margin-top: 20px;
    border-color: darkolivegreen;
    
  }

  .card-img-top{
      height: 190px;
  }

  .btn{
    --bs-btn-padding-x: 40px;
    margin-left: 6px;
    
  }
  .card-text{
    margin-left: 65px;
    -webkit-text-stroke: medium;
  }
  .card-title{
    margin-left: 35px;
  }

  .name{
    text-decoration: none;
    color: black;
  }

 