body{
  background-color: #D3F0FA;
}

.barraArriba{
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  margin-top: 12px;
  background-color: #D3F0FA;
  border: 5px inset rgb(48, 224, 224);
  border-radius: 10px;
} 
.Logo1{
  width:150px;
  height: 50px;
}

.imagen1{
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
}

.imagenP{
  margin-top: 40px;
}

.cuadro{
  width: 100%;
  height: 220px;
  /*flex: 4;*/
  margin-bottom: 10px;
  margin-top: 12px;
  border: 5px #D3F0FA;
}

.cuadro2{
  width: 100%;
  height: 220px;
  /*flex: 4;*/
  margin-bottom: 10px;
  margin-top: 12px;
 border-radius: 20px 20px 20px 20px;
  border: 5px inset black;
}

.futer{
  width: 100%;
  height: 160px;
  /*flex: 4;*/
  margin-bottom: 10px;
  margin-top: 12px;
 border-radius: 10px ;
  border: 5px inset black;
}